<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bookstore.mapper.MerchandiseMapper">

	<select  id="getMerchandise" resultType="cn.bookstore.po.Merchandise">
		
		select * from z_merchandise 
	
	</select>
	
	<select  id="getMerchandisePage" parameterType="int" resultType="cn.bookstore.po.Merchandise">
		
		select * from z_merchandise limit #{xiabiao},10;
	
	</select>
	

	

	<insert id="addMerchandise" parameterType="cn.bookstore.po.Merchandise" >
		
		insert into z_merchandise(c_id,m_name,m_short,m_site,m_unit,m_norms,m_pack,m_number) values
		(#{c_id},#{m_name},#{m_short},#{m_site},#{m_unit},#{m_norms},#{m_pack},#{m_number});
		
		
	</insert>

	
	
	
	
	
	

	<!-- 
		
			#{}  是替代作用      占位符  ？
			${}  是拼接作用    +
	
	 -->
	 
	 <update parameterType="cn.bookstore.po.Merchandise" id="updateMerchandise">
	 
	     update z_merchandise set c_id=#{c_id},m_name=#{m_name},m_short=#{m_short},m_site=#{m_site},m_unit=#{m_unit},
	     m_norms=#{m_norms},m_pack=#{m_pack},m_number=#{m_number} where m_id=#{m_id}
	 
	 
	 </update>
	 
	 
	 
	 <delete parameterType="int" id="deleteMerchandise">
	 
	      delete from z_merchandise where m_id=#{m_id}
	      
	 </delete>
	 
	 
	 

</mapper>

